binds {
	Mod+1 { focus-workspace 1; }
	Mod+2 { focus-workspace 2; }
	Mod+3 { focus-workspace 3; }
	Mod+4 { focus-workspace 4; }
	Mod+5 { focus-workspace 5; }
	Mod+Shift+1 { move-column-to-workspace 1; }
	Mod+Shift+2 { move-column-to-workspace 2; }
	Mod+Shift+3 { move-column-to-workspace 3; }
	Mod+Shift+4 { move-column-to-workspace 4; }
	Mod+Shift+5 { move-column-to-workspace 5; }
	Mod+H { set-column-width "-10%"; }
	Mod+L { set-column-width "+10%"; }
	Mod+K { focus-column-left; }
	Mod+J { focus-column-right; }
	Mod+Space { maximize-window-to-edges; }
	Mod+Shift+Q { quit; }
	Mod+Shift+W repeat=false { close-window; }
	Mod+A { spawn-sh "rofi -show drun"; }
	Mod+B { show-hotkey-overlay; }
	Mod+E { spawn-sh "bookmark ${XDG_DATA_HOME}/emojis"; }
	Mod+F { toggle-window-floating; }
	Mod+O repeat=false { toggle-overview; }
	Mod+X { spawn-sh "rofi -show filebrowser"; }
	Mod+Return { spawn "foot"; }
	Print { screenshot-window; }
	XF86AudioRaiseVolume allow-when-locked=true { spawn-sh "wpctl set-volume @DEFAULT_AUDIO_SINK@ 0.1+"; }
	XF86AudioLowerVolume allow-when-locked=true { spawn-sh "wpctl set-volume @DEFAULT_AUDIO_SINK@ 0.1-"; }
	XF86AudioMute allow-when-locked=true { spawn-sh "wpctl set-mute @DEFAULT_AUDIO_SINK@ toggle"; }
}
gestures {
	hot-corners {
		off
	}
}
input {
	keyboard {
		repeat-delay 200
		xkb {
			layout "es"
		}
	}
}
layout {
	focus-ring {
		active-color "#FFFFFF"
		width 4
	}
	gaps 10
}
window-rule {
	match app-id="firefox"
	open-maximized-to-edges true
}
prefer-no-csd
screenshot-path "~/Pictures/Screenshots/%Y-%m-%d %H-%M-%S.png"
spawn-at-startup "mako"
spawn-sh-at-startup "swaybg -i ${XDG_DATA_HOME}/wallpapers/01.jpg"
